body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('background.gif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#no1 {
    transition: transform 0.5s ease-in-out;
}

#page1, #page2, #page3, #welcomePage, #finalGif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    background: url('background1.jpg') no-repeat center center fixed;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    will-change: transform, opacity; /* Оптимизация для плавных анимаций */
}

.animatedText {
    font-size: 48px;
    font-weight: bold;
    animation: textAnimation 3s ease-in-out infinite;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    25% {
        opacity: 0.5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    75% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}
